services:
  - type: web
    name: expense-tracker
    env: java
    buildCommand: ./mvnw clean package -DskipTests
    startCommand: java -jar target/expense-tracker-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_VERSION
        value: 21
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: RECAPTCHA_SITE_KEY
        sync: false
      - key: RECAPTCHA_SECRET_KEY
        sync: false
      - key: OPEN_API_KEY
        sync: false
      - key: OPENROUTER_API_BASE
        value: https://openrouter.ai/api/v1
